.main .image-container {
    display:flex;
}
.main .image-container .image {
    width:100px;
}
nav .home-link {
    border-right: solid 1px black;
    padding-right: 5px;
}
.main code {
    background: black;
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
}
